<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Cangzhou Hongyu Petroleum Machinery</h1>
            <hr>
            <p>Driving innovation and delivering excellence, we collaborate with our clients to shape the future of petroleum machinery, striving to become a world leader in competitive, high-quality solutions.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
